{% extends 'principal.html' %}
{% load static %}
{% block content %}
<section class="hero is-link is-spaced has-background-primary-dark">
    <div class="hero-body has-background-dark">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <img src="{% static 'img/background2.png' %}">
                </div>
                <div class="column">
                    <h1 class="title is-size-1 has-text-danger-dark">
                        <p>K E Y</p>
                        <p>M A N A G E M E N T</p>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}